
<header class="section header">
  <div class="container">
    header content
  </div>
</header>
<nav class="section navigation">
  <div class="container">
    <div class="navsite"> <ul class="nav">
      <li class="nav-item"><a routerLink="/">Home </a></li>

      <li class="nav-item"><a routerLink="/login">Login </a></li>

      <li class="nav-item"><a routerLink="/signup">Sign Up </a></li>
      <li class="nav-item"><a routerLink="/contactus">Contact Us </a></li>
      <li class="nav-item"><a routerLink="/tos"><p>TOS</p></a></li>
      <li class="nav-item"><a routerLink="/food">Food </a></li>


    </ul> </div>
  </div>
</nav>
<section class="section main">
  <div class="container">
    <aside class="sidebar">
      <router-outlet></router-outlet>
         sidebar
    </aside>
    <article class="content">
           <app-todayspecial></app-todayspecial>
    </article>
  </div>
</section>
<footer class="section footer">
  <div class="container">
    <h3>footer content</h3>
  </div>
</footer>
